# Ignore all dotfiles except git dotfiles
.*
!.git*
!.vscode

# Binaries and build targets
*.a
*.so
*.dylib
*.dll
*.exe
*.res
*.d
*.dSYM
*.vcvplugin
/build
/Rack
/dep
/dist

# Rack folders
/plugins
/plugins-lin-x64
/disabledplugins
/patches
/presets
/licenses
/autosave
/settings.json
/screenshots
/selections
log.txt
template.vcv
